@page "/"

<PageTitle>Home</PageTitle>

<h1>Secrets Access From Environment Variable.</h1>

<h3>Secret1: @Environment.GetEnvironmentVariable("ENV_SECRET1")</h3>
<h3>Secret2: @Environment.GetEnvironmentVariable("ENV_SECRET2")</h3>
