@page
@model IndexModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Configuration</h1>

</div>
<section id="configSection">
    <pre>@Html.Raw(((IConfiguration)Configuration).GetConnectionString("default"))</pre>
</section>